# Análise de Dados das Eleições 

Esse notebook tem como objetivo fazer um análise e construir visualizações da dos relacionados às eleições. Para tal, serão utilizados os dados das eleições a partir do site [Base dos Dados](https://basedosdados.org).

## Imports necessários 

Estão sendo utilizados os seguintes pacotes: 

* `basedosdados`: API do projeto Base dos Dados para acesso as base de dados e realizar consultas. 
* `pandas`: Biblioteca para manipulação das bases com python.
* `seaborn`: Biblioteca de visualização utilizando python.

In [1]:
import pandas as pd
import basedosdados as bd
import seaborn as snb

In [2]:
query_candidatos = """
SELECT * FROM `basedosdados.br_tse_eleicoes.bens_candidato` LIMIT 100
"""

In [3]:
df_ = bd.read_sql(query=query_candidatos,billing_project_id='adolfo-dev')

Please visit this URL to authorize this application: https://accounts.google.com/o/oauth2/auth?response_type=code&client_id=262006177488-3425ks60hkk80fssi9vpohv88g6q1iqd.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fcloud-platform&state=VjveyUn0xxjJ6kZ7qpY1Kf17qJFYcF&prompt=consent&access_type=offline

Enter the authorization code:  4/1AX4XfWjG1kggp_OXYZBMUTcKaZyeCqt-1e_h2FdRm68Yc7BrFdDMmswK5kw

Downloading: 100%|██████████| 100/100 [00:00<00:00, 222.14rows/s]

In [4]:
df_

,ano,sigla_uf,tipo_eleicao,sequencial_candidato,id_candidato_bd,id_tipo_item,tipo_item,descricao_item,valor_item
0,2006,AL,eleicao ordinaria,10000,1005104,None,None,NENHUM BEM A DECLARAR,0.00
1,2006,AL,eleicao ordinaria,10001,515370,None,None,PROPRIEDADE RURAL EM UNIÃO DOS PALMARES,20000.00
2,2006,AL,eleicao ordinaria,10002,712107,None,None,2 LOTES LOTEAMENTO TRES IRMAOS EM RIO LARGO,3275.64
3,2006,AL,eleicao ordinaria,10002,712107,None,None,APARTAMENTO NO BILRO NO FAROL EFETUADO PAGAMEN...,15600.00
4,2006,AL,eleicao ordinaria,10002,712107,None,None,APARTAMENTO RESIDENCIAL NA PAJUÇARA,51293.43
...,...,...,...,...,...,...,...,...,...
95,2006,AL,eleicao ordinaria,10048,None,None,None,AUTOMÓVEL TOYOTA HILUX CD 4X4,118000.00
96,2006,AL,eleicao ordinaria,10048,None,None,None,CASA SITUADA SITIO ALTO MANGABEIRAS,30000.00
97,2006,AL,eleicao ordinaria,10048,None,None,None,"QUOTA PARTE APTO 304, EDF PIAZZA AV. ENG. PAUL...",15600.00
98,2006,AL,eleicao ordinaria,10049,None,None,None,AUTOMOVEL FORD FOCUS 2003,35000.00
99,2006,AL,eleicao ordinaria,10049,None,None,None,AUTOMOVEL RONDA CIVC SEDAM LX 2005/2006,57000.00